In [1]:
import numpy as np#linear algebra
import pandas as pd#data processing
import matplotlib.pyplot as plt#for data visulization
import seaborn as sns#for statistical data visualization
from sklearn.preprocessing import LabelEncoder
from sklearn.cluster import KMeans

In [2]:
data = 'cryptocurrency.csv' #getting data from the csv file
df = pd.read_csv(data) #defining the data as df
df

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,bitcoin,BTC,Bitcoin,4/28/2013,1,135.30,135.98,132.10,134.21,0.0,1.488567e+09,0.5438,3.88
1,bitcoin,BTC,Bitcoin,4/29/2013,1,134.44,147.49,134.00,144.54,0.0,1.603769e+09,0.7813,13.49
2,bitcoin,BTC,Bitcoin,4/30/2013,1,144.00,146.93,134.05,139.00,0.0,1.542813e+09,0.3843,12.88
3,bitcoin,BTC,Bitcoin,5/1/2013,1,139.00,139.89,107.72,116.99,0.0,1.298955e+09,0.2882,32.17
4,bitcoin,BTC,Bitcoin,5/2/2013,1,116.38,125.60,92.28,105.21,0.0,1.168517e+09,0.3881,33.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...
942292,project-x,NANOX,Project-X,11/26/2018,1727,22424.60,23049.30,17607.50,20724.80,143.0,1.622000e+03,0.5728,5441.80
942293,project-x,NANOX,Project-X,11/27/2018,1727,20711.90,23742.10,19292.90,23298.70,637.0,1.823000e+03,0.9003,4449.20
942294,project-x,NANOX,Project-X,11/28/2018,1727,23320.90,25235.10,19888.10,24442.70,49.0,1.913000e+03,0.8518,5347.00
942295,project-x,NANOX,Project-X,11/29/2018,1727,24543.53,24582.47,21457.95,22839.44,153.0,1.788000e+03,0.4421,3124.52
942296,project-x,NANOX,Project-X,11/30/2018,1727,22872.09,23086.98,19040.91,21136.72,125.0,1.654000e+03,0.5180,4046.07

In [3]:
df.shape #rows and colums

(942297, 13)

In [4]:
df.info()#provides us with the information of the datatypes or colums

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 942297 entries, 0 to 942296
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   slug         942297 non-null  object
 1   symbol       942297 non-null  object
 2   name         942297 non-null  object
 3   date         942297 non-null  object
 4   ranknow      942297 non-null  int64
 5   open         942297 non-null  float64
 6   high         942297 non-null  float64
 7   low          942297 non-null  float64
 8   close        942297 non-null  float64
 9   volume       942297 non-null  float64
 10  market       942297 non-null  float64
 11  close_ratio  942297 non-null  float64
 12  spread       942297 non-null  float64
dtypes: float64(8), int64(1), object(4)
memory usage: 93.5+ MB

In [5]:
df.isnull().sum()#provides with info from which colums the values missing

slug           0
symbol         0
name           0
date           0
ranknow        0
open           0
high           0
low            0
close          0
volume         0
market         0
close_ratio    0
spread         0
dtype: int64

In [6]:
df.describe()#this gives statistical info

,ranknow,open,high,low,close,volume,market,close_ratio,spread
count,942297.000000,9.422970e+05,9.422970e+05,9.422970e+05,9.422970e+05,9.422970e+05,9.422970e+05,942297.000000,9.422970e+05
mean,1000.170608,3.483522e+02,4.085930e+02,2.962526e+02,3.461018e+02,8.720390e+06,1.725060e+08,0.459499,1.123400e+02
std,587.575283,1.318436e+04,1.616386e+04,1.092931e+04,1.309822e+04,1.839803e+08,3.575590e+09,0.326160,6.783713e+03
min,1.000000,2.500000e-09,3.200000e-09,2.500000e-10,2.000000e-10,0.000000e+00,0.000000e+00,-1.000000,0.000000e+00
25%,465.000000,2.321000e-03,2.628000e-03,2.044000e-03,2.314000e-03,1.750000e+02,2.958100e+04,0.162900,0.000000e+00
50%,1072.000000,2.398300e-02,2.680200e-02,2.143700e-02,2.389200e-02,4.278000e+03,5.227960e+05,0.432400,0.000000e+00
75%,1484.000000,2.268600e-01,2.508940e-01,2.043910e-01,2.259340e-01,1.190900e+05,6.874647e+06,0.745800,3.000000e-02
max,2072.000000,2.298390e+06,2.926100e+06,2.030590e+06,2.300740e+06,2.384090e+10,3.265020e+11,1.000000,1.770563e+06

In [7]:
df['slug'].unique()#The values that are unique in the status id col, these values do not repeate

array(['bitcoin', 'ripple', 'ethereum', ..., '42-coin', 'bit20',
       'project-x'], dtype=object)

In [8]:
len(df['slug'].unique())#len will count the numbers of unique values

2071

In [9]:
df['symbol'].unique()#The values that are unique in the status id col, these values do not repeate

array(['BTC', 'XRP', 'ETH', ..., '42', 'BTWTY', 'NANOX'], dtype=object)

In [10]:
len(df['symbol'].unique())#len will count the numbers of unique values

2005

In [11]:
df['name'].unique()#The values that are unique in the status id col, these values do not repeate

array(['Bitcoin', 'XRP', 'Ethereum', ..., '42-coin', 'Bit20', 'Project-X'],
      dtype=object)

In [12]:
len(df['name'].unique())#len will count the numbers of unique values

2071

In [13]:
df['ranknow'].unique()#The values that are unique in the status id col, these values do not repeate

array([   1,    2,    3, ..., 2070, 2071, 2072])

In [14]:
len(df['ranknow'].unique())

2068

In [15]:
df['spread'].unique()

array([3.88000e+00, 1.34900e+01, 1.28800e+01, ..., 5.34700e+03,
       3.12452e+03, 4.04607e+03])

In [16]:
len(df['spread'].unique())

12454

In [17]:
df.drop(['slug','symbol','date','ranknow','close_ratio','market'], axis=1, inplace = True) #dropping data

In [18]:
df.info()#checking to see if colums were dropped

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 942297 entries, 0 to 942296
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   name    942297 non-null  object
 1   open    942297 non-null  float64
 2   high    942297 non-null  float64
 3   low     942297 non-null  float64
 4   close   942297 non-null  float64
 5   volume  942297 non-null  float64
 6   spread  942297 non-null  float64
dtypes: float64(6), object(1)
memory usage: 50.3+ MB

In [19]:
df.head()#checking rows/colums

      name    open    high     low   close  volume  spread
0  Bitcoin  135.30  135.98  132.10  134.21     0.0    3.88
1  Bitcoin  134.44  147.49  134.00  144.54     0.0   13.49
2  Bitcoin  144.00  146.93  134.05  139.00     0.0   12.88
3  Bitcoin  139.00  139.89  107.72  116.99     0.0   32.17
4  Bitcoin  116.38  125.60   92.28  105.21     0.0   33.32

In [20]:
x = df# the rest of the variable, except the target
y = df['name'] #target variable

In [21]:
le = LabelEncoder()
x['name'] = le.fit_transform(x['name']) #label encoding names so they have numeric value
y = le.transform(y)

In [22]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 942297 entries, 0 to 942296
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   name    942297 non-null  int64
 1   open    942297 non-null  float64
 2   high    942297 non-null  float64
 3   low     942297 non-null  float64
 4   close   942297 non-null  float64
 5   volume  942297 non-null  float64
 6   spread  942297 non-null  float64
dtypes: float64(6), int64(1)
memory usage: 50.3 MB

In [23]:
x.head()

   name    open    high     low   close  volume  spread
0   231  135.30  135.98  132.10  134.21     0.0    3.88
1   231  134.44  147.49  134.00  144.54     0.0   13.49
2   231  144.00  146.93  134.05  139.00     0.0   12.88
3   231  139.00  139.89  107.72  116.99     0.0   32.17
4   231  116.38  125.60   92.28  105.21     0.0   33.32

In [24]:
x.columns

Index(['name', 'open', 'high', 'low', 'close', 'volume', 'spread'], dtype='object')